@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--swiper-pagination-bullet: black;
}
.background {
	background-color: #2f2f2f;
}

html {
	--scroll-behavior: smooth !important;
	scroll-behavior: smooth !important;
}

.swiper-pagination-bullet {
}

.swiper-pagination-bullet-active {
	--swiper-pagination-color: black;
	width: 20px;
}
