@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--swiper-pagination-bullet: black;
}
.background {
	background-color: #2f2f2f;
}

html {
	--scroll-behavior: smooth !important;
	scroll-behavior: smooth !important;
}

.swiper-pagination-bullet {
}

.swiper-pagination-bullet-active {
	--swiper-pagination-color: black;
	width: 20px;
}

@layer components {
	.button-price {
		@apply rounded-xl bg-mainGray px-7 py-2 text-white;

		&:hover {
			@apply bg-[#2a2a2a];
		}

		&:active {
			@apply bg-lightBlue;
		}
	}

	.guarantee_image_box {
		@apply absolute top-10 -z-30 w-full scale-150 sm:-top-24 sm:rotate-90 md:-top-10 lg:top-0 lg:rotate-0 lg:scale-105;
	}

	.automaticall_card {
		@apply mt-3 rounded-2xl bg-white/30 backdrop-blur-md;

		&_little {
			@apply rounded-xl bg-white/10 px-2 py-1 text-sm font-medium;
		}
	}
}
